.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: var(--defaultlayout-width);
    padding: 0 var(--defaultlayout-holizontal-spacer);
  display: flex;
}
.content {
  flex: 1;
}
